<form action="/add" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Add person</legend>
        <label for="profilepic">Upload profile picture:</label>
        <input type="file" id="profilepic" name="profilepic">
        <label for="firstname">Firstname:</label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Lastname:</label>
        <input type="text" id="lastname" name="lastname">
        <label for="e-mail">e-mail</label>
        <input type="e-mail" id="e-mail" name="e-mail">
        <label for="education">education</label>
        <input type="text" id="education" name="education">
        <button type="submit">add person</button>
    </fieldset>
</form>
