<form action="/add" method="post">
    <fieldset>
        <legend>Add person</legend>
        <label for="firstname">Firstname:</label>
        <input type="text" id="firstname" name="user_firstname">
        <label for="lastname">Lastname:</label>
        <input type="text" id="lastname" name="user_lastname">
        <label for="e-mail">e-mail</label>
        <input type="e-mail" id="e-mail" name="user_e-mail">
        <label for="opleiding">opleiding</label>
        <input type="text" id="opleiding" name="user_opleiding">
        <button type="submit">Voeg toe</button>
    </fieldset>
</form>
