<form id="update" action="/update" method="post">
    <fieldset>
        <input type="submit" id="dislike" name="dislike" value="dislike button">
        <input type="submit" id="like" name="like" value="like button">
    </fieldset>
</form>