<!DOCTYPE html>
<html lang="nl">
    <%- include('../components/head'); %>
    <body>
        <%- include('../components/navigation'); %>
        <main>
            <section>
                <%- include('../partials/add-form'); %>
            </section>
        </main>
        <script src="../../public/js/script.js"></script>
    </body>
</html>
