<!doctype html>
<html lang="en">

    <%- include('../components/head'); %>

	<body>
        <%- include('../components/header'); %>

			<main>
				<section>
					
					<%- include('../partials/add-form'); %>
				</section>
			</main>

        <%- include('../components/footer'); %>

	<script src="../../public/js/script.js"></script>
	</body>

</html>