<!doctype html>
<html lang="en">

    <%- include('../components/head'); %>

	<body id="home">
        <%- include('../components/header'); %>

			<main>
				<section></section>
				<section></section>
				<footer><%- include('../partials/update-form'); %></footer>
			</main>

        <%- include('../components/footer'); %>

	<script src="../../public/js/script.js"></script>
	</body>

</html>