<!doctype html>
<html lang="en">

    <%- include('../components/head'); %>

	<body>

			<main>
                <h1><%= title %></h1>
			</main>

			<script src="../../public/js/script.js"></script>
	</body>

</html>