<!DOCTYPE html>
<html lang="nl">
    <%- include('../components/head'); %>

    <body id="home">
        <%- include('../components/navigation'); %>
        <main>
            <h1>WeStudy</h1>
            <%- include('../partials/liked-student'); %>
        </main>
        <script src="../../public/js/script.js"></script>
    </body>
</html>